.zz_kurzmarke_bereich {
  background-color: #cccccc;
}


.tag
{
	background-color: #000000;
	color: #ffffff;
	font-size: 8pt;
	font-weight: bold;
	text-align: center
}
.wochentag
{
	background-color: #ffffff;
	color: #000000;
	font-size: 8pt;
	text-align: right;
	text-decoration : none;
}
.samstag
{
	background-color: #ffffff;
	color: #666666;
	font-size: 8pt;
	text-decoration : none;
	text-align: right
}
.sonntag
{
	background-color: #ffffff;
	color: #ff0000;
	font-size: 8pt;
	text-align: right;
	text-decoration : none;
}
.meinmonat
{
	background-color: #e1e1e1;
	color: #999999;
	font-size: 8pt;
	text-align: right;
	text-decoration : none;
}
#heute
{
	border : 1px solid Red;
}
#marked
{
	background-color: #FFCCCC;
}

.responsive
{
	overflow: scroll; 
	-webkit-overflow-scrolling:touch;
}

